$company-name-font: 'Roboto',
sans-serif;
$company-body-label-font: 'Roboto',
sans-serif;
$company-jobs-font: 'Oswald',
sans-serif;
$frisky-yellow: #F6B932;
$sloppy-grey: #B4B4B4;
$main-blue: #1C0A90;
.company-profile {
    margin: 0;
    padding: 0;
    width: 100%;
    .row {
        margin: 0;
    }
    .company-header {
        width: 100%;
        height: 180px;
        background-color: $main-blue;
    }
    .company-body {
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        .left-column {
            margin-top: -54px;
            .company-avatar {
                margin-bottom: 16px;
                .margin-wrapper {
                    position: relative;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
            .company-details {
                .company-name {
                    font-family: $company-name-font;
                    color: $frisky-yellow;
                    font-weight: 600;
                    font-size: initial;
                }
                .company-socials {
                    display: flex;
                    justify-content: center;
                    .inner {
                        justify-content: space-between;
                        width: 136px;
                    }
                }
                text-align: center;
                line-height: 3;
                padding-bottom: 16px;
            }
            .company-summary {
                white-space: nowrap;
                .company-summary-label {
                    color: $main-blue;
                    padding-right: 8px;
                    font-weight: 800;
                }
                padding-bottom: 16px;
            }
            .company-stack {
                .company-stack-label {
                    color: $main-blue;
                    font-weight: 800;
                    padding-bottom: 8px;
                }
                .custom-checkbox {
                    color: black;
                    font-weight: 400;
                }
            }
        }
        .right-column {
            padding-left: 110px;
            margin-top: 96px;
            @media screen and (max-width: 768px) {
                padding-left: 0;
            }
            .company-active-jobs {
                font-family: $company-jobs-font;
                font-size: x-large;
                text-transform: uppercase;
                letter-spacing: 6px;
            }
            .company-body-label {
                font-family: $company-body-label-font;
                color: $frisky-yellow;
                width: 100%;
                font-weight: 600;
                font-size: initial;
            }
        }
    }
}