$frisky-yellow: #F6B932;
$sloppy-grey: #B4B4B4;
$main-blue: #1C0A90;
$job-title-font: 'Roboto',
sans-serif;
$border-blue: #3927B1;
.job-ticket {
    border: 1px solid $border-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 12px 0;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
    .job-details {
        width: 100%;
        padding-left: 48px;
        align-self: baseline;
        @media screen and (max-width: 768px) {
            padding: 12px 0;
        }
        .job-title {
            text-transform: capitalize;
            font-family: $job-title-font;
        }
        .job-progress-bar-rail {
            width: 70%;
            margin-bottom: 10px;
            background-color: $frisky-yellow;
            height: 4px;
            position: relative;
            border-radius: 4px;
            .job-progress-bar {
                position: absolute;
                border-radius: 4px;
                left: 0;
                background-color: $main-blue;
                height: 6px;
                top: -1px;
            }
        }
    }
    .job-buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
        .job-view-more {
            color: #5A5A5A;
        }
        .job-button-login {
            font-family: $job-title-font;
            color: #fff;
            padding: 6px 32px;
            background-color: $main-blue;
            &:hover {
                background-color: transparent;
                color: $main-blue;
                border: 1px solid $main-blue;
            }
        }
    }
}